@media only screen and (max-width: 1235px) {
  .nav {
    width: 100rem;
    max-width: 90%;
  }

  .developer {
    width: 95rem;
    max-width: 90%;
  }
}

@media only screen and (max-width: 729px) {
  .nav {
    width: 90rem;
  }

  .nav__lists {
    position: fixed;
    font-size: 2rem;
    top: 7rem;
    left: 0;
    background-color: #ddd06a;
    width: 100%;
    padding: 1rem 0 2.5rem;
    transform: translateX(-100%);
  }

  .nav__unordered {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav__burger {
    display: flex;
  }

  .developer__description {
    text-align: left;
  }

  .project__box {
    grid-template-columns: 1fr;
  }

  .project__discover p {
    font-size: 1.8rem;
  }

  .contact {
    flex-direction: column;
    gap: 2rem;
  }

  .logo {
    text-align: center;
  }
}

@media only screen and (max-width: 336px) {
  .skills {
    text-align: left;
    font-size: 1.5rem;
  }

  .contacts {
    flex-direction: column;
  }
}
